body {
  font-family: 'Noto Serif SC', serif;
  background-image: url(/bk.jpg);
  background-size: cover;
}

.page {
  min-height: 96vh;
}

.description {
  color: #000 !important;
}

.navbar, .sidebar, .page {
  background-color: rgba(#fff, 0.7);
}

.navbar {
  .links {
    background-color: transparent !important;
  }
}
