.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
}

.bg-low {
  background-color: #9c9c9c;
}

.bg-basic {
  background-color: #d8dd5a;
}

.bg-primary {
  background-color: #4aabea;
}

.bg-secondary {
  background-color: #cfc2d1;
}

.bg-advanced {
  background-color: #f1c644;
}

.bg-blue {
  background-color: #2bf;
}

.bg-yellow {
  background-color: #ffd802;
}

.bg-dark-blue {
  background-color: #0075a8;
}

.bg-light-blue {
  background-color: #3ff7ff;
}

.bg-gray {
  background-color: #313131;
}

.bg-dark {
  background-color: #222;
}

.ak-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: Noto Serif SC, serif;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  height: 50px;
  width: 150px;
  color: white;
  background-color: gray;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
  padding: 0;
}
.ak-button:active {
  color: lightgray;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1), 0 5px 12px rgba(0, 0, 0, 0.5);
}
.ak-button__icon {
  display: inline-flex;
  width: 48px;
  height: 48px;
}
.ak-button__label {
  display: inline-block;
  font-family: Roboto, Noto Sans, Arial, sans-serif;
  line-height: 1;
  top: 0;
}
.ak-button--block {
  display: block;
  width: 100%;
}
.ak-button--block + .ak-button-block {
  margin-top: 20px;
}
.ak-button--fab {
  width: 64px;
  height: 64px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
  padding: 0;
}
.ak-button--fab:active {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}
.ak-button--fab .ak-button__icon {
  width: 36px;
  height: 36px;
}
.ak-button--outline {
  border: 2px solid #fff;
  font-family: Roboto, Noto Sans, Arial, sans-serif;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}
.ak-button--outline:active {
  background-color: #737373;
  border-color: lightgray;
}
.ak-button--action {
  font-family: Roboto, Noto Sans, Arial, sans-serif;
  text-align: right;
  background-color: #2bf;
  box-shadow: 2px 5px 50px -10px rgba(0, 0, 0, 0.5);
}
.ak-button--action:active {
  background-color: #0075a8;
}

.ak-button--start {
  width: 38px;
  height: 38px;
  background-color: transparent;
  border: 5px solid #ffd802;
  color: #ffd802;
  font-style: italic;
  font-size: xx-small;
  font-weight: bold;
  margin: 10px;
  transform: rotate(-45deg);
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3), inset 0 0 50px rgba(0, 0, 0, 0.3);
}
.ak-button--start .icon {
  color: #ffd802;
  transform: rotate(45deg) translate(22px, -10px);
}
.ak-button--start .label {
  transform: rotate(45deg) translateY(5px);
  text-align: center;
}
.ak-button--start::after {
  content: "";
  display: inline-block;
  width: 38px;
  height: 38px;
  background-color: transparent;
  border: 5px solid var(--ak-loading-color, #ffd802);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation-name: ak-radio;
  animation-name: ak-radio;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes ak-radio {
  from {
    width: 38px;
    height: 38px;
    opacity: 1;
  }
  to {
    width: 90px;
    height: 90px;
    opacity: 0;
  }
}

@keyframes ak-radio {
  from {
    width: 38px;
    height: 38px;
    opacity: 1;
  }
  to {
    width: 90px;
    height: 90px;
    opacity: 0;
  }
}
.ak-card {
  background-color: transparent;
  transition: 0.2s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  outline: none;
  display: inline-block;
  padding: 0.5rem 1rem;
}
.ak-card--outline {
  display: block;
  min-height: 100px;
  border: 0.5rem solid white;
  background-color: transparent;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
}
.ak-card--outline .title {
  font-weight: 900;
  font-size: large;
  margin: 0.2rem 0;
  border-bottom: 2px solid white;
}
.ak-card--outline:hover {
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}
.ak-card--stripe {
  width: 200px;
  height: 200px;
  padding: 0;
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 5px, white 10px, white 15px);
}
.ak-card--stripe:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.ak-card--place {
  border: 1px solid transparent;
  width: 100px;
  height: 100px;
  box-shadow: inset 0 0 20px white;
  border-bottom: 4px solid var(--ak-card-place-color, white);
  padding: 0;
}
.ak-card--place:active, .ak-card--place:focus {
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  box-shadow: inset 0 0 20px white, 0 5px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-10px);
}

.ak-fx--glow {
  -webkit-animation-name: ak-glow;
  animation-name: ak-glow;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
.ak-fx--outline {
  -webkit-animation-name: ak-outline-fade;
  animation-name: ak-outline-fade;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes ak-glow {
  from {
    box-shadow: 0 0 0 var(--ak-fx-glow-color, white);
  }
  to {
    box-shadow: 0 0 20px var(--ak-fx-glow-color, white);
  }
}

@keyframes ak-glow {
  from {
    box-shadow: 0 0 0 var(--ak-fx-glow-color, white);
  }
  to {
    box-shadow: 0 0 20px var(--ak-fx-glow-color, white);
  }
}
@-webkit-keyframes ak-outline-fade {
  from {
    outline: 0.35rem solid var(--ak-outline-color, black);
    outline-width: 0.35rem;
  }
  to {
    outline: 0.35rem solid transparent;
    outline-width: 0.2rem;
    outline-offset: 1.5rem;
  }
}
@keyframes ak-outline-fade {
  from {
    outline: 0.35rem solid var(--ak-outline-color, black);
    outline-width: 0.35rem;
  }
  to {
    outline: 0.35rem solid transparent;
    outline-width: 0.2rem;
    outline-offset: 1.5rem;
  }
}
.ak-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 10px solid;
  border-bottom: 5px solid transparent;
}

.ak-loading {
  width: 38px;
  height: 38px;
  background-color: transparent;
  border: 5px solid var(--ak-loading-color, white);
  transform: rotate(-45deg);
  display: inline-block;
  margin: 66px;
}
.ak-loading::after {
  content: "";
  display: inline-block;
  width: 38px;
  height: 38px;
  background-color: transparent;
  border: 5px solid var(--ak-loading-color, white);
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation-name: ak-radio;
  animation-name: ak-radio;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.ak-media--album {
  position: relative;
  display: inline-block;
  border: 0.5rem solid white;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
  padding: 0;
  margin: 10px;
  transform-style: preserve-3d;
  transform: rotate(2deg);
  max-width: 100%;
  max-height: 100%;
}
.ak-media--album img {
  vertical-align: bottom;
}
.ak-media--album::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -10px;
  width: 100%;
  height: var(--ak-media-album-heiht, 98%);
  border: 0.4rem solid white;
  background-color: var(--ak-media-album-bgcolor, #333);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  transform: rotate(-5deg) translateZ(-1px);
}

:root {
  --ak-color-white: white;
  --ak-color-black: black;
  --ak-color-low: #9c9c9c;
  --ak-color-basic: #d8dd5a;
  --ak-color-primary: #4aabea;
  --ak-color-secondary: #cfc2d1;
  --ak-color-advanced: #f1c644;
  --ak-color-blue: #2bf;
  --ak-color-yellow: #ffd802;
  --ak-color-dark-blue: #0075a8;
  --ak-color-light-blue: #3ff7ff;
  --ak-color-gray: #313131;
  --ak-color-dark: #222;
}

.ak-font-serif {
  font-family: Noto Serif SC, serif;
}

.ak-font-sans-serif {
  font-family: Roboto, Noto Sans, Arial, sans-serif;
}

.ak-text--title {
  font-weight: 900;
  font-size: 3rem;
}