.ak-fx- {
  &-glow {
    animation-name: ak-glow;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  &-radio {
    animation-name: ak-radio;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
  }

  &-outline {
    animation-name: ak-outline-white;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;

    @each $color, $value in $ak-colors {
      &__#{$color} {
        animation-name: ak-outline-#{$color};
      }
    }
  }
}

@keyframes ak-glow {
  from {
    box-shadow: 0 0 0 var(--ak-fx-glow-color, white);
  }

  to {
    box-shadow: 0 0 20px var(--ak-fx-glow-color, white);
  }
}

@keyframes ak-radio {
  from {
    width: 38px;
    height: 38px;
    opacity: 1;
  }

  to {
    width: 90px;
    height: 90px;
    opacity: 0;
  }
}

@each $color, $value in $ak-colors {
  @keyframes ak-outline-#{$color} {
    from {
      outline: 0.35rem solid rgba($color: $value, $alpha: 1);
    }

    to {
      outline: 0.35rem solid rgba($color: $value, $alpha: 0);
      outline-offset: 1.5rem;
    }
  }
}
