@use "mixins" as *;

.ak-pagination {
  display: inline-flex;
  height: 5rem;
  width: 16rem;
  background-color: #999;
  color: white;
  .prev,
  .next {
    position: relative;
    background-color: #333;
    height: 100%;
    width: 4rem;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 10px rgba(black, 0.6);
    cursor: pointer;

    .ak-icon {
      width: 2rem;
      height: 2rem;
    }

    @include active-darken;
  }

  .cur {
    display: inline-flex;
    border: 2px solid gray;
    border-width: 2px 0;
    width: 8rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
      font-weight: normal;
      font-size: 1rem;
      line-height: 2rem;
      border: none;
      margin: 0;
    }
  }

  .label {
    font-size: 12px;
    line-height: 1;
  }

  .number {
    font-size: 1.9rem;
    line-height: 1;
  }
}
