.ak-fx- {
  &-glow {
    animation-name: ak-glow;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  &-radio {
    animation-name: ak-radio;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
  }
}

@keyframes ak-glow {
  from {
    box-shadow: 0 0 0 var(--ak-fx-glow-color, white);
  }

  50% {
    box-shadow: 0 0 20px var(--ak-fx-glow-color, white);
  }

  to {
    box-shadow: 0 0 0 var(--ak-fx-glow-color, white);
  }
}

@keyframes ak-radio {
  from {
    width: 38px;
    height: 38px;
    opacity: 1;
  }

  to {
    width: 90px;
    height: 90px;
    opacity: 0;
  }
}
