@each $color, $value in $ak-colors {
  .bg-#{$color} {
    background-color: $value;
  }
}

.font-serif {
  font-family: $font-serif !important;
}

.font-sans-serif {
  font-family: $font-sans-serif !important;
}
